{% extends "base.html" %}
{% block title %}Create Post{% endblock %}
{% block content %}
    <h1 class="text-center">Make a Post</h1>
    
    <form method="POST">
        <textarea name="text" id="text" class="form-control" placeholder="Enter your post"></textarea>
        <br />
        <div class="text-center">
            <button type="submit" class="btn btn-lg btn-primary">Post</button>
        </div>
    </form>
    <br />
    <div class="text-center">
        <a href="/home" class="btn btn-lg btn-secondary">Back</a>
    </div>
{% endblock %}
